<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AISIN_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <AISIN_App.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value>SATO CL4NX (305 dpi)</value>
            </setting>
            <setting name="PLC_Used" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>06</value>
            </setting>
            <setting name="New_Page_Used" serializeAs="String">
                <value>Y</value>
            </setting>
        </AISIN_App.Properties.Settings>
    </applicationSettings>
</configuration>
